<div class="row">
    <div class="col-md-4" th:each="review: ${reviews}">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <a th:href="@{'/review/' + ${review.title}}" class="text-decoration-none">
                    <h5 class="card-title context" th:text="${review.title}"></h5>
                </a>
                <p class="card-text context">
                    <span th:each="tag: ${review.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                        <a th:href="@{'/search/tag/' + ${tag.name}}" class="text-decoration-none text-white">
                            <i class="fa fa-tag"></i> <span th:text="${tag.name}">Tag</span>
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>