<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body class="bg-light">
<div th:replace="~{fragments.html :: main-nav}"></div>
<div class="container">
    <div th:replace="~{fragments.html :: review-info}"></div>
    <div class="row px-3 justify-content-center">
        <div class="col-10 pt-3" th:utext="${review.content}"></div>
    </div>
    <section class="px-5" style="margin-left: 100px; margin-right: 100px">
        <div class="card mb-4 bg-light">
            <div class="card-body">
                <form class="mb-4" th:action="@{/review/{id}/comment(id=${review.id})}" th:object="${commentForm}" method="post">
                    <div class="form-group">
                        <label for="comment"></label>
                        <textarea id="comment" th:value="${commentForm?.content}" th:field="*{content}" class="form-control" rows="5" placeholder="write here to review"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">
                            코드 리뷰하기
                        </button>
                    </div>
                </form>
                <div th:replace="~{fragments.html :: comment-info}"></div>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{fragments.html :: footer}"></div>
<script th:replace="~{fragments.html :: tooltip}"></script>
</body>
</html>