<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body class="bg-light">
    <nav th:replace="~{fragments.html :: main-nav}"></nav>
    <div class="container">
        <div class="py-5 text-center" th:if="${error}">
            <p class="lead">CampFire 로그인</p>
            <div class="alert alert-danger" role="alert" th:text="${error}">
                로그인할 수 없습니다.
            </div>
        </div>
        <div class="py-5 text-center" th:if="${error == null}">
            <p class="lead">CampFire 로그인</p>
            <a href="/oauth2/authorization/google">
                <img src="/images/btn_google_signin_dark_normal_web@2x.png" width="191" height="46" alt="구글 로그인">
            </a>
        </div>
    </div>
</body>
</html>