<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments.html :: head}"></head>
<body class="bg-light">
    <div th:replace="~{fragments.html :: main-nav}"></div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1>CampFire</h1>
            <p class="lead text-muted">
                코드 리뷰를 서로 주고 받으며, 성장하세요.<br/>
                코드 리뷰 요청과 알림 기능을 제공합니다.
            </p>
            <p sec:authorize="isAnonymous()">
                <a th:href="@{/sign-up}" class="btn btn-primary my-2">회원가입</a>
            </p>
        </div>
    </section>
    <div class="container">
        <div class="row justify-content-center pt-3">
            <div class="col-sm-12">
                <div class="list text-muted"></div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments.html :: review-list}"></div>
    <div th:replace="~{fragments.html :: footer}"></div>
    <div th:replace="~{fragments.html :: date-time}"></div>
</body>
</html>